@{
    ViewBag.Title = "Contacts";
}

<h1 class="text-center text-light">@ViewBag.Title</h1>
<div style="margin-top: 250px;"></div>

<p class="text-light text-center">Address: Lorem Ipsum Str. 77, Sofia, Bulgaria</p>
<p class="text-light text-center">Phone Number: +999999999</p>
<p class="text-light text-center">E-mail: dilor@dilor.ltd</p>