@model IEnumerable<PostViewModel>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineStore.Web.styles.css" asp-append-version="true" />
</head>


<nav class="w1-sidebar w1-bar-block">
    @foreach (var post in Model)
    {
        if (post.IsActive)
        {
            <div class="container-fluid align-items-md-start w1-sidebar">
            <h8 class="text-white">
                <a class="text-white" href="@Url.Action("ViewPost", "Forum", new { id = post.Id })">
                    <div class="post-title-container">@post.Title</div>
                    
                </a
                <h10>Created on: @post.CreatedAt</h10> 
            </h8>
        </div>
        <hr/>
        }
        
    }
</nav>
