@model PostFormModel

@{
    ViewBag.Title = "Create Post";
}



<h2 class="text-center text-light">@ViewBag.Title</h2>
<hr />

<div class="row">
     <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-light">
         <form method="post">
             <div class="form-group text-center">
                <div class="image-preview-container">
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px; display: none;">
                </div>
             </div>           
             <div class="form-group">
                 <label asp-for="Title"></label>
                 <input asp-for="Title" class="form-control" placeholder="">
                 <span asp-validation-for="Title" class="small text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Text"></label>
                 <textarea asp-for="Text" rows="4" class="form-control"
                placeholder=""></textarea>
                 <span asp-validation-for="Text" class="small text-danger"></span>
             </div>
       
            <div class="form-group">
                <label asp-for="ImageUrl">Image URL</label>
                <input asp-for="ImageUrl" class="form-control" id="imageUrlInput" placeholder="Paste link">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>


             <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
             </div>
         </form>
     </div>
</div>


<script src="~/js/imagePreview.js"></script>