@model ForumMainViewModel

@{
    ViewData["Title"] = "Forum";
}
<style>
    .section-outline{
        border: 5px solid brown;
        padding: 10px;
        background-color:darkgray
    }
</style>

<div class="container-fluid d-flex justify-content-center">
    
</div>

<hr/>

<div class="container-fluid d-flex text-light justify-content-center ">
    <div class="col-sm-2 bg-dark">
        <h3 class="text-light text-center">Latest Forum Topics</h3>
        <hr/>
            @Html.Partial("_LatestPostsViewPartial", Model.LatestPosts)
    </div>
    <div class="col-sm-1">
        <!-- Empty space with a margin-top of 20px -->
    </div>
    <div class="row">

        <div class="container-fluid d-flex justify-content-center">
            <h1 class="text-light justify-content-center">
                @ViewBag.Title
            </h1>
        </div>

        <hr/>
    
        @foreach (var item in Model.Categories)
        {
                <div class="col">
                        <div class="card section-outline mb-3 text-center bg-gradient">
                        <div class="card-body">
                            <h3><a class="text-light" href="@Url.Action("Category", "Forum", new { categoryId = item.Id })">@item.Name</a></h3>
                        </div>
                    </div>
                </div>
                <hr />
        }
    </div>
</div>
